<Files "README.md">
       Order Allow,Deny
       Deny from All
</Files>

#local
ErrorDocument 403 http://localhost:8888/Documents/Dev/jonathanlessinger.com/errordocs/403.php
#local
ErrorDocument 404 http://localhost:8888/Documents/Dev/jonathanlessinger.com/errordocs/404.html

#remote
##ErrorDocument 403 /errordocs/404.html
#remote
##ErrorDocument 404 /errordocs/404.html

#######not necessary
#RewriteEngine On
#RewriteBase /

#DEP local
#RewriteRule [^index.php] http://localhost:8888/Documents/Dev/jonathanlessinger.com/index.php [R=301,L]
#DEP remote
#RewriteRule ^(index.php) ^/index.php [R=301,L]